body {
  width: 375px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

#img1 {
  justify-content: flex-start;
}

.ic_icon {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#btn {
  border-radius: 8%;
  background: #1a2236;
  border: none;
  width: 20px;
  height: 2px;
  margin-top: 5px;
}

.headline {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.group48 {
  display: flex;
  flex-direction: column;
}

#title {
  width: 220px;
  height: 100px;
  font-family: 'Playfair Displa', sans-serif; /* Playfair Displa; */
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  margin: 0 30px 15px 15px;
}

#titleh2 {
  width: 181px;
  height: 50px;
  font-family: 'Playfair Displa', sans-serif; /* Playfair Displa; */
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  margin: 0 30px 30px 15px;
}

#text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
  margin: 0 30px 15px 15px;
}

#group19 {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  background: #1a2236;
  flex-grow: 1;
  height: 50px;
  margin: 0 30px 15px 15px;
}

.work {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.subGroup {
  display: flex;
  flex-direction: column;
}

#Rectangle21IG {
  border: 0.33px solid #ffffff1a;
  background: #ffffff1a;
  margin: 0 0 0 0;
}

.groupInfo {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  background:
    linear-gradient(0deg, #1a2236, #1a2236),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

#projectprojectNameName {
  width: 264px;
  height: 16px;
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.htmlBtn {
  display: flex;
  margin: 10px 15px 15px 15px;
}

#htmlBtnID {
  height: 20px;
  background: #98dede;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 8px;
  letter-spacing: 0;
  text-align: left;
  color: #1a2236;
  border: none;
  margin: 0 20px 10px 20px;
  padding: 8px 8px 6px 8px;
}

h2 {
  margin: 0 15px 15px 15px;
}

#seeProjectBtn {
  width: 124px;
  height: 24px;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  border: none;
  background:
    linear-gradient(0deg, #1a2236, #1a2236),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

#seeProjectGrp {
  display: flex;
  justify-content: space-around;
  margin: 5px 15px 15px 15px;
  width: 178px;
  height: 44px;
  background:
    linear-gradient(0deg, #1a2236, #1a2236),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border: 1px solid #fff;
}

#ic_arrowID {
  width: 24px;
  height: 24px;
  padding-top: 10px;
}

.About_myself {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 20px 15px;
}

.group1 {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 15px;
}

.groupSetMyCV {
  height: 52px;
  background: #1a2236;
  display: flex;
  justify-content: center;
}

#getMyCVBtn {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  background: #1a2236;
  border: none;
  color: #fff;
}

.langagueGroup {
  display: flex;
  width: 289px;
  height: 289px;
  background: #1c528a;
  padding: 35px 0 0 50px;
  margin: 20px 15px 20px 15px;
}

.FrameworksGroup {
  display: flex;
  width: 289px;
  height: 289px;
  background: #e2505c;
  padding: 35px 0 0 50px;
  margin: 20px 15px 20px 15px;
}

.SkillsGroup {
  display: flex;
  width: 289px;
  height: 289px;
  background: #febf52;
  padding: 35px 0 0 50px;
  margin: 20px 15px 20px 15px;
}

#titleh3 {
  width: 116px;
  height: 30px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.list {
  font-family: 'Poppins', sans-serif;
  justify-self: end;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.0525em;
  text-align: left;
  color: #fff;
}

#ic_languages_mob {
  margin: 187px 0 0 -31px;
}

#ic_framework {
  margin: 193px 0 0 32px;
}

#ic_skills {
  margin: 187px 0 0 -70px;
}

#listLanguages {
  width: 178px;
  height: 135px;
}

#listFrameworks {
  width: 121px;
  height: 108px;
}

#listSkills {
  width: 213px;
  height: 135px;
}
